# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/.idea/
/infrastructure/01-technical-user-locally/.terraform/
/infrastructure/01-technical-user-locally/.terraform.lock.hcl
/infrastructure/01-technical-user-locally/terraform.tfstate
/infrastructure/02-s3-bucket-locally/.terraform/
/infrastructure/02-s3-bucket-locally/.terraform.lock.hcl
/infrastructure/02-s3-bucket-locally/terraform.tfstate
/infrastructure/02-s3-bucket-locally/terraform.tfstate.backup
/target/
/infrastructure/03-infrastructure/.terraform/
